.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-top: 1px solid #ccc;
    font-family: Arial, sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 5px;
    font-weight: 500;
}

.footer-section a {
    text-decoration: none;
    color: #333;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-country {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}