

@font-face {
  font-family: 'Helvetica Now Text Medium';
  src: url('../src/assets/fonts/HelveticaNowText-Medium.woff2') format('woff2'),
    url('../src/assets/fonts/HelveticaNowText-Medium.woff') format('woff');
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}